In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
dados = pd.read_csv('C:/Users/vitor/Desktop/Dados_Banco.csv')
dados

,Cliente,Idades,Renda,Profissão,Banco,Poupança,Emprestimo,Plano_Previdencia,Limite_Saque
0,Marcos,20,8000,Arquiteto,Prata,Sim,Sim,Sim,Não
1,Fabio,34,15800,Juiz,Ouro,Sim,Sim,Sim,Não
2,Patricia,25,3000,Analista de Sistema,Prata,Sim,Não,Não,Sim
3,Penelope,21,6500,Desenvolvedor Web,Prata,Sim,Sim,Sim,Não
4,Tiago,37,12000,Economista,Ouro,Sim,Sim,Sim,Não
5,Amanda,28,3500,Diretor de escola,Prata,Sim,Não,Sim,Sim
6,Leticia,18,750,Aprendiz,Bronze,Não,Não,Não,Sim
7,Pedro,34,12500,Segurança da informação,Ouro,Sim,Sim,Sim,Não
8,Fabricio,27,2000,Recepcionista,Bronze,Não,Não,Não,Sim
9,Gabriel,40,23000,Médico,Ouro,Sim,Sim,Sim,Não
10,Vitoria,24,9000,Engenheiro Quimico,Prata,Sim,Sim,Sim,Não
11,Ariane,26,8200,Modelo,Prata,Sim,Sim,Sim,Não
12,Julia,36,11700,Estatistico,Ouro,Sim,Sim,Sim,Não
13,Roberta,29,6700,Farmacêutico,Prata,Sim,Sim,Sim,Não
14,Thais,22,1500,Professor,Bronze,Não,Não,Não,Sim
15,Fabiano,21,7500,Psicologo,Prata,Sim,Sim,Sim,Não
16,Cristiano,31,11000,Desenvolvedor Mobile,Ouro,Sim,Sim,Sim,Não
17,Emelly,24,5400,Analista de dados,Prata,Sim,Sim,Sim,Não
18,Taina,38,18000,Cientista da Dados,Ouro,Sim,Sim,Sim,Não
19,Juliana,19,1100,Estagiario,Bronze,Não,Não,Não,Sim
20,João,21,4000,Vendedor,Bronze,Não,Sim,Não,Sim
21,Bruna,36,15000,Engenheiro de Software,Ouro,Sim,Sim,Sim,NaN
22,Paloma,19,800,Aprendiz,Bronze,Não,Não,Não,Sim
23,Vitor,23,2500,Mecânico,Bronze,Não,Não,Não,Sim
24,Omar,18,750,Aprendiz,Bronze,Não,Não,Não,Sim

# Alterando Colunas / Resetando Index / Nomeando Index / Exibindo repetições

In [40]:
bancos = pd.DataFrame(dados['Banco'].value_counts())
bancos.reset_index(inplace = True)
bancos.columns.name ='ID'
bancos.rename(columns = {'Banco':'Quantidade','index':'Bancos'},inplace = True)
bancos

ID  Bancos  Quantidade
0    Prata           9
1   Bronze           8
2     Ouro           8

In [42]:
n = dados.shape[0]
k = 1 + (10 /3) * np.log10(n) 
k = int(k)
k

5

In [43]:
freq1 = pd.value_counts(pd.cut(x = dados.Renda, bins = k, include_lowest = True), sort = False)
perc1 = pd.value_counts(pd.cut(x = dados.Renda, bins = k, include_lowest = True), sort = False, normalize = True)*100

In [52]:
frequencia_de_salarios =  pd.DataFrame({'Frequência':freq1,'Porcentagem (%)':perc1}).rename_axis('Salarios', axis = 'columns')
frequencia_de_salarios.reset_index(inplace = True)
frequencia_de_salarios.columns
frequencia_de_salarios.rename(columns = {'index':'Intervalos'}, inplace = True)
frequencia_de_salarios.columns.name = 'ID'
frequencia_de_salarios

ID          Intervalos  Frequência  Porcentagem (%)
0    (727.749, 5200.0]          10             40.0
1     (5200.0, 9650.0]           7             28.0
2    (9650.0, 14100.0]           4             16.0
3   (14100.0, 18550.0]           3             12.0
4   (18550.0, 23000.0]           1              4.0

In [228]:
dados['Limite_Saque'].fillna(value = 'Não', inplace = True)
dados[(dados.Banco == 'Ouro')]
# E POSSIVEL NOTAR QUE PESSOAS COM MAIOR IDADE E MAIS EXPERIENCIA TEM UMA MAIOR RENDA E ESCOLHEM O BANCO OURO

,Cliente,Idades,Renda,Profissão,Banco,Poupança,Emprestimo,Plano_Previdencia,Limite_Saque
1,Fabio,34,15800,Juiz,Ouro,Sim,Sim,Sim,Não
4,Tiago,37,12000,Economista,Ouro,Sim,Sim,Sim,Não
7,Pedro,34,12500,Segurança da informação,Ouro,Sim,Sim,Sim,Não
9,Gabriel,40,23000,Médico,Ouro,Sim,Sim,Sim,Não
12,Julia,36,11700,Estatistico,Ouro,Sim,Sim,Sim,Não
16,Cristiano,31,11000,Desenvolvedor Mobile,Ouro,Sim,Sim,Sim,Não
18,Taina,38,18000,Cientista da Dados,Ouro,Sim,Sim,Sim,Não
21,Bruna,36,15000,Engenheiro de Software,Ouro,Sim,Sim,Sim,Não

In [229]:
dados[(dados.Banco == 'Bronze')]
# E POSSIVEL NOTAR QUE PESSOAS COM MENOR IDADE E MAIS EXPERIENCIA TEM UMA MENOR RENDA E ESCOLHEM O BANCO BRONZE

,Cliente,Idades,Renda,Profissão,Banco,Poupança,Emprestimo,Plano_Previdencia,Limite_Saque
6,Leticia,18,750,Aprendiz,Bronze,Não,Não,Não,Sim
8,Fabricio,27,2000,Recepcionista,Bronze,Não,Não,Não,Sim
14,Thais,22,1500,Professor,Bronze,Não,Não,Não,Sim
19,Juliana,19,1100,Estagiario,Bronze,Não,Não,Não,Sim
20,João,21,4000,Vendedor,Bronze,Não,Sim,Não,Sim
22,Paloma,19,800,Aprendiz,Bronze,Não,Não,Não,Sim
23,Vitor,23,2500,Mecânico,Bronze,Não,Não,Não,Sim
24,Omar,18,750,Aprendiz,Bronze,Não,Não,Não,Sim

In [230]:
dados2 =  pd.DataFrame(dados.query('Banco in ["Bronze","Ouro"]'))

In [231]:
dados2

,Cliente,Idades,Renda,Profissão,Banco,Poupança,Emprestimo,Plano_Previdencia,Limite_Saque
1,Fabio,34,15800,Juiz,Ouro,Sim,Sim,Sim,Não
4,Tiago,37,12000,Economista,Ouro,Sim,Sim,Sim,Não
6,Leticia,18,750,Aprendiz,Bronze,Não,Não,Não,Sim
7,Pedro,34,12500,Segurança da informação,Ouro,Sim,Sim,Sim,Não
8,Fabricio,27,2000,Recepcionista,Bronze,Não,Não,Não,Sim
9,Gabriel,40,23000,Médico,Ouro,Sim,Sim,Sim,Não
12,Julia,36,11700,Estatistico,Ouro,Sim,Sim,Sim,Não
14,Thais,22,1500,Professor,Bronze,Não,Não,Não,Sim
16,Cristiano,31,11000,Desenvolvedor Mobile,Ouro,Sim,Sim,Sim,Não
18,Taina,38,18000,Cientista da Dados,Ouro,Sim,Sim,Sim,Não
19,Juliana,19,1100,Estagiario,Bronze,Não,Não,Não,Sim
20,João,21,4000,Vendedor,Bronze,Não,Sim,Não,Sim
21,Bruna,36,15000,Engenheiro de Software,Ouro,Sim,Sim,Sim,Não
22,Paloma,19,800,Aprendiz,Bronze,Não,Não,Não,Sim
23,Vitor,23,2500,Mecânico,Bronze,Não,Não,Não,Sim
24,Omar,18,750,Aprendiz,Bronze,Não,Não,Não,Sim

In [232]:
troca = {'Sim':1 ,'Não':0}

dados2['Poupança'] = dados2['Poupança'].map(troca)
dados2['Emprestimo'] = dados2['Emprestimo'].map(troca)
dados2['Plano_Previdencia'] = dados2['Plano_Previdencia'].map(troca)
dados2['Limite_Saque'] = dados2['Limite_Saque'].map(troca)
dados2

,Cliente,Idades,Renda,Profissão,Banco,Poupança,Emprestimo,Plano_Previdencia,Limite_Saque
1,Fabio,34,15800,Juiz,Ouro,1,1,1,0
4,Tiago,37,12000,Economista,Ouro,1,1,1,0
6,Leticia,18,750,Aprendiz,Bronze,0,0,0,1
7,Pedro,34,12500,Segurança da informação,Ouro,1,1,1,0
8,Fabricio,27,2000,Recepcionista,Bronze,0,0,0,1
9,Gabriel,40,23000,Médico,Ouro,1,1,1,0
12,Julia,36,11700,Estatistico,Ouro,1,1,1,0
14,Thais,22,1500,Professor,Bronze,0,0,0,1
16,Cristiano,31,11000,Desenvolvedor Mobile,Ouro,1,1,1,0
18,Taina,38,18000,Cientista da Dados,Ouro,1,1,1,0
19,Juliana,19,1100,Estagiario,Bronze,0,0,0,1
20,João,21,4000,Vendedor,Bronze,0,1,0,1
21,Bruna,36,15000,Engenheiro de Software,Ouro,1,1,1,0
22,Paloma,19,800,Aprendiz,Bronze,0,0,0,1
23,Vitor,23,2500,Mecânico,Bronze,0,0,0,1
24,Omar,18,750,Aprendiz,Bronze,0,0,0,1

In [233]:
x = dados2[['Poupança','Emprestimo','Plano_Previdencia','Limite_Saque']]
y = dados2[['Banco']]

treino_x = x[:18]
treino_y = y[:18]
teste_x = x[18:]
teste_y = x[18:]

In [234]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

seed = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                        random_state = 20,
                                                        test_size = 0.8,
                                                        stratify = y)

A acurácia foi 100.00%

In [240]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y.values.ravel())
previsoes = modelo.predict(teste_x)
previsoes

array(['Ouro', 'Bronze', 'Bronze', 'Ouro', 'Bronze', 'Ouro', 'Bronze',
       'Ouro', 'Ouro', 'Ouro', 'Bronze', 'Ouro', 'Bronze'], dtype=object)

In [241]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%"  % acuracia)

A acurácia foi 100.00%

In [238]:
misterio1 = [0,0,0,1]

from sklearn.svm import LinearSVC
modelo = LinearSVC()
modelo.fit(treino_x, treino_y.values.ravel())

LinearSVC()

In [239]:
modelo.predict([misterio1])

array(['Bronze'], dtype=object)